.searchbox {
  -webkit-appearance: none;
  border: none;
  outline: none;
  border-radius: 1000px;
  padding: 0.5rem 2rem;
  width: 50vw;
  line-height: 30px;
  margin: 1rem 0;
  background-color: #e6e6e6;
}
